Repository AstroWimSara/SolarEclipseWorkbench, pull requests merged in 2024-03, with the labels that each got.

#38 Camera updates
  README.md
  TODO.md
  config/scripts/testNikon.txt
  poetry.lock
  src/solareclipseworkbench/__init__.py
  src/solareclipseworkbench/camera.py
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/utils.py
Labels: camera

#39 Apply time format from setting to scheduled jobs
  src/solareclipseworkbench/gui.py
Labels: gui, scheduling

#40 Show duration for total eclipses
  src/solareclipseworkbench/gui.py
Labels: enhancement, gui

#41 Proper alignment of scheduled jobs table cells
  src/solareclipseworkbench/gui.py
Labels: enhancement, gui, scheduling

#42 Improved robustness + proper formatting
  src/solareclipseworkbench/gui.py
Labels: gui

#43 Camera overview + Time formatting
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/utils.py
Labels: gui

#44 Add possibility to start up gui.py using parameters for location and eclipse date.
  TODO.md
  poetry.lock
  scripts/convert_sem_files.py
  src/solareclipseworkbench/__init__.py
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/reference_moments.py
  src/solareclipseworkbench/sew.py
Labels: gui

#45 Improved logging + Added setters for controller
  src/solareclipseworkbench/gui.py
Labels: gui, camera

#46 Saving & loading settings
  TODO.md
  src/solareclipseworkbench/gui.py
Labels: gui

#47 Extract camera overview as dictionary
  src/solareclipseworkbench/gui.py
Labels: camera

#48 Save settings via toolbar icon
  README.md
  img/save.png
  src/solareclipseworkbench/gui.py
Labels: gui

#49 Made file chooser more robust
  src/solareclipseworkbench/gui.py
Labels: gui

#50 Fix cameras_sync command
  TODO.md
  config/scripts/20240408.txt
  src/solareclipseworkbench/gui.py
Labels: camera

#51 Documented UI functionality
  README.md
  img/datetime-format-popup.png
  img/eclipse-date-popup.png
  img/location-popup.png
  img/simulation-popup.png
  img/toolbar.png
  img/ui-top.png
  src/solareclipseworkbench/gui.py
Labels: documentation, gui

#52 Calculate next 20 solar eclipses and display in drop-down menu
  README.md
  TODO.md
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/utils.py
Labels: documentation, enhancement, good first issue, gui, eclipse-date

#55 Fix cancel button of `SettingsPopup`
  src/solareclipseworkbench/gui.py
Labels: gui

#56 Disable/enable camera icon in UI toolbar
  src/solareclipseworkbench/gui.py
Labels: gui, camera

#57 Add output from logger to file
  README.md
  TODO.md
  src/solareclipseworkbench/gui.py
Labels: enhancement, gui

#58 Disconnect camera(s) when UI is closed
  TODO.md
  poetry.lock
  src/solareclipseworkbench/gui.py
Labels: enhancement, gui, camera

#59 Convert TAKEBST and TAKEBKT to Solar Eclipse Workbench command in convert_sem_files script.
  README.md
  TODO.md
  config/scripts/testEOS1000D.txt
  config/scripts/testEOS80D.txt
  config/scripts/testEOSR.txt
  scripts/convert_sem_files.py
Labels: enhancement, camera

#61 Add pkg-config to installation instruction for apple silicon
  README.md
  poetry.lock
Labels: documentation, dependencies
