Repository AstroWimSara/SolarEclipseWorkbench, pull requests merged in 2024-01, with the labels that each got.

#16 Fix timezone
  TODO.md
  poetry.lock
  pyproject.toml
  src/solareclipseworkbench/reference_moments.py
Labels: reference-moments

#12 Placeholder for GUI
  README.md
  img/calendar.png
  img/camera.png
  img/clock.png
  img/location.png
  img/logo-small.svg
  img/settings.png
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/location.py
  src/solareclipseworkbench/observer.py
  src/solareclipseworkbench/reference_moments.py
  src/solareclipseworkbench/utils.py
Labels: gui

#17 Handling of different eclipse types
  src/solareclipseworkbench/camera.py
  src/solareclipseworkbench/gui.py
Labels: enhancement, gui, reference-moments, eclipse-type
