Repository AstroWimSara/SolarEclipseWorkbench, pull requests merged in 2024-02, with the labels that each got.

#19 Add support for annular eclipses
  poetry.lock
  pyproject.toml
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/reference_moments.py
Labels: gui, eclipse-type

#20 Countdown to reference moments
  README.md
  img/folder.png
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/location.py
  src/solareclipseworkbench/utils.py
Labels: gui, reference-moments, location

#21 Documentation + corrected formatting of countdown clocks
  src/solareclipseworkbench/gui.py
Labels: documentation, gui, reference-moments

#24 Schedule tasks
  README.md
  TODO.md
  config/scripts/testEOS80D.txt
  poetry.lock
  pyproject.toml
  src/solareclipseworkbench/camera.py
  src/solareclipseworkbench/notifications.py
  src/solareclipseworkbench/reference_moments.py
  src/solareclipseworkbench/schedule_test.py
  src/solareclipseworkbench/utils.py
Labels: scheduling

#25 Update camera overview
  src/solareclipseworkbench/gui.py
Labels: gui, camera

#26 Documentation + clean-up
  src/solareclipseworkbench/gui.py
Labels: documentation, gui

#27 Synchronisation of the cameras
  src/solareclipseworkbench/gui.py
Labels: gui, camera

#29 Simulator mode + job scheduling
  img/stop.png
  src/solareclipseworkbench/__init__.py
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/utils.py
Labels: gui, scheduling, simulator

#30 Add take_burst method
  README.md
  src/solareclipseworkbench/__init__.py
  src/solareclipseworkbench/camera.py
  src/solareclipseworkbench/sew.py
  src/solareclipseworkbench/utils.py
Labels: camera

#31 Start simulation at given time relative to reference moment.
  README.md
  TODO.md
  config/scripts/voice_prompts.txt
  sound/c2_in_30_seconds.wav
  src/solareclipseworkbench/sew.py
  src/solareclipseworkbench/utils.py
Labels: reference-moments

#33 Add camera_name to CameraSettings
  TODO.md
  config/scripts/test.txt
  src/solareclipseworkbench/camera.py
Labels: camera

#32 Start of simulation + Display scheduled jobs
  README.md
  src/solareclipseworkbench/gui.py
  src/solareclipseworkbench/utils.py
Labels: gui, scheduling, simulator

#34 Added simulator icon
  img/simulator.png
Labels: gui

#35 Fix crash if camera is not known
  src/solareclipseworkbench/utils.py
Labels: camera

#36 Visualisation of scheduled jobs
  src/solareclipseworkbench/gui.py
Labels: gui, scheduling
